.App {
  height: 100%;
  background-color: #ebe8e7;
  text-align: center;
}
.bgImg{
  height: 20%;
}
.datascreen{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}





